body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: aliceblue;
}

.main{
    font-weight: bold;
    background-color: grey;
    color: aqua;
    padding: 2rem;
    text-align: center;
}

.nav-bar{
    font-weight: bold;
    background-color: rgb(231, 4, 4);
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 3rem;
    word-spacing: 0;
}

.nav-bar{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.nav-bar :hover{
    color: beige;
  
}

h2{
    text-align: center;
}

.section{
    font-weight: bold;
    color: blue;
}

.footer{
    text-align: center;
    margin: 0%;
    gap: 1rem;
    padding: 0%;
}

figcaption{
    text-align: left;
    font-weight: bolder;
    color: brown;
}